<div id="product">
<h1>Product Details</h1>	
<h1>Selected Product: &nbsp;{{Em.MyApp.item.name}}</h1>
<img {{bindAttr src="Em.MyApp.item.url"}} />
</div>

<div id="bottom">
	<!-- MyApp v{{Em.MyApp.VERSION}} -->
</div>

